<div class="mt-5 px-4 relative">
  <% if notice.present? %>
    <p class="py-1 px-2 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <%= render @artwork %>

  <div class="flex justify-end items-center absolute bottom-5 right-5 z-10">
    <!-- Purchase button that autofills the email feilds -->
    <%= mail_to "evaarmentaart@gmail.com", t('purchase'), subject: "#{t('subject')} #{@artwork.title} (ID: #{@artwork.id})",
      body: "#{t('greeting')}\n\n" \
            "#{t('interest')}\n" \
            "#{t('name')}: #{@artwork.title}\n" \
            "#{t('id')}: #{@artwork.id}\n" \
            "#{t('price')}: #{number_to_currency(@artwork.price)}\n\n" \
            "***#{t('payment_request').upcase} #{t('closing')}***",
            class: "border border-black/10 mx-1 w-fit text-center rounded-md px-2 py-1 hover:bg-pink-500 inline-block shadow-lg bg-white font-medium hover:text-white"
            %>
    <% if authenticated? %>
      <%= link_to t('edit'), edit_artwork_path(@artwork), class: "border border-black/10 mx-1 w-fit text-center rounded-md px-2 py-1 hover:bg-pink-500 inline-block shadow-lg bg-white font-medium hover:text-white" %>
      <%= button_to t('delete'), @artwork, method: :delete, class: "border border-red-100 text-red-500 mx-1 w-fit text-center rounded-md px-2 py-1 hover:bg-pink-500 inline-block shadow-lg bg-white font-medium hover:text-white", data: { turbo_confirm: "Are you sure?" } %>
    <% end %>
  </div>
</div>
