<!DOCTYPE html>
<html class="w-full flex flex-col justify-start items-center">
  <head>
    <title><%= content_for(:title) || "Evas Art Website" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&display=swap" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('favicon.png'), rel: 'icon', type: 'image/png' %>


    
    <%= yield :head %>

    <%# Enable PWA manifest ... (keep or comment as-is) %>

    <!-- Tailwind here -->
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
  
    <%= javascript_importmap_tags %>
  </head>
  <body class="mt-20 lg:mt-30 w-full h-fit flex flex-col justify-start items-center">
    <%= render 'layouts/navbar' %>
    <main class="h-fit w-full flex flex-col justify-start items-center px-2">

      <%= yield %>
    </main>
  </body>
</html>
