<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <%# --- SEO & Social Meta Tags --- %>
    <%= display_meta_tags(
      site: 'Eva Armenta Art',
      title: 'Abstract Floral & Miniature Art in Lübeck',
      reverse: true,
      separator: '|',
      description: 'Find the perfect original abstract, tiny art, and floral paintings for your home. Browse the latest collection of modern canvas works and miniature art by Eva Armenta in Lübeck.',
      canonical: request.original_url,
      index: true,
      follow: true,
      og: {
        site_name: 'Eva Armenta Art',
        title: :title,
        description: :description,
        type: 'website',
        url: request.original_url,
        image: {
        _: image_url('social-preview.jpg'),
        width: 1200,
        height: 630,
        type: 'image/jpeg'
      }},
      # For twitter links
      twitter: {
        card: 'summary_large_image',
        title: :title,
        description: :description,
        image: image_url('social-preview.jpg')
      }
    ) %>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('favicon.png'), rel: 'icon', type: 'image/png' %>
    
    <%= yield :head %>

    <!-- Tailwind here -->
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="mt-20 lg:mt-30 w-full h-fit flex flex-col justify-start items-center">
    <%= render 'layouts/navbar' %>
    <main id="main-content" class="h-fit w-full flex flex-col justify-start items-center px-2">
      <%= yield %>
    </main>
  </body>
</html>
